<div class="container">
  <div class="row">
    <h1 class="col center">Azure Blob storage</h1>
  </div>
  <div class="row">
    <div class="col upload ">
      <form (submit)="onSubmit($event)">
        <input class="btn   btn-outline-secondary" type="file" (change)="onFileSelected($event)" />
        <button class="btn  btn-outline-dark " type="submit">Upload</button>
      </form>
    </div>
    <button class="col-sm-1 btn-refresh  btn btn-secondary" (click)="listFiles('bgblob')">Refresh</button>
  </div>
</div>


<table class='blob-list table table-hover' aria-labelledby="tableLabel" *ngIf="listItems.length">
  <thead>
    <tr>
      <th class="col-7">Name</th>
      <th>Modified</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listItems">
      <td>{{ item.name }}</td>
      <td>{{item.properties.lastModified | date}} </td>
      <td>{{item.properties.blobType}} </td>
      <a class="btn btn-light item-download"  href={{item.url}} target="_blank">Download</a>
      <button class="btn btn-secondary item-remove" (click)="delete(item.name)">Delete</button>
    </tr>
  </tbody>
</table>


